<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Domains list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
  <ion-row wrap>
    <ion-col *ngFor="let domain of domains">
    <a href="{{domain.url}}">
      <ion-card [class.danger]="domain.status === 'ko'" [class.success]="domain.status === 'ok'">
        <ion-card-header>
          {{ domain.name }}
        </ion-card-header>
        <ion-card-content>
          Etat du serveur: {{ domain.status }}
        </ion-card-content>
      </ion-card>
    </a>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
